body {
  width: 80%;
  margin-left: 150px;
}
header {
  background-color: black;
  font-size: 30px;
  text-align: center;
  margin: 0, auto;
  color: red;
}

.hx {
  font-size: 20px;
  background-color: palevioletred;
  padding-left: 25px;
  padding-bottom: 60px;
}
p {
  display: inline;
  vertical-align: top;
  font-size: 15px;
}

.contact {
  float: right;
  width: 30%;
}
